
<!-- index.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Friendly UI</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            
        </ul>
    </nav>


    <div class="container">
        <h1>User Inputs</h1>
        <form method="POST" action="{% url 'model' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="Height">Height:</label>
                <input type="text" id="height" name="height" required>
            </div>
            <div class="form-group">
                <label for="Weight">Weight:</label>
                <input type="text" id="weight" name="weight" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    

</body>
</html>
